@import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";

* { box-sizing: border-box; }

body {
    background-color: #191919;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

header {
    font-weight: bold;
    padding: 10px;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 30pt;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    z-index: 1;
}

.button-row{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1.5px;
    padding: 10px;
}

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.5s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
}

.divider{
    letter-spacing: 10px;
    padding-left: 10px;
}

.projects-row{
    padding-top: 1.25rem; 
    padding-left: 2.5rem; 
    grid-template-columns: repeat(5, minmax(0, 1fr)); 
    gap: 2.5rem; 
    align-content: flex-start; 
    height: 10rem;
}

/* typing name animation */

#typed-name::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
    animation: scroll 40s linear infinite;
    grid-auto-columns: 1fr;
    width: auto;
    min-width: 100%;
    will-change: transform;
    transform: translate3d(0, 0, 0);
  }

.animate-scroll:hover {
    animation-play-state: paused;
}